footer.main-footer
  .footer
    .ed-grid.s-grid-1.row-gap.footer__upperFooterContainer
      img.footer__upperFooter(src='assets/img/Logo-perubetWhite.png' alt='icon')
    .ed-grid.m-grid-3.lg-grid-5.row-gap
      ul.s-cols-1.footer__titulo
        strong Sobre nosotros
        a.footer__li(href='https://www.google.com/?hl=es') Preguntas frecuentes
        a.footer__li(href='#') Tutoriales
        a.footer__li(href='#') Blog
      ul.s-cols-1.footer__titulo
        strong Banca
        a.footer__li(href='#') Recargas
        a.footer__li(href='#') Retiros
        a.footer__li(href='#')
          | Bonos y 
          br
          | promociones
      ul.s-cols-1.footer__titulo
        strong Políticas
        a.footer__li(href='#') Términos y Condiciones
        a.footer__li(href='#') Politicas de Privacidad
        a.footer__li(href='#') Politica de Reclamos
        a.footer__li(href='#') Politica de Anti-lavado
      ul.s-cols-1.footer__titulo
        strong Reglas
        a.footer__li(href='#') De la casa
        a.footer__li(href='#') Deportes
        a.footer__li(href='#') Casino
        a.footer__li(href='#') Juego Responsable
      //
        <ul class="s-cols-1 footer__titulo">
        Follow us
        <li class="footer__li">
        <img
        class="footer__social"
        src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png"
        alt="icon"
        /><a class="footer__li" href="#">Facebook</a>
        </li>
        <li class="footer__li">
        <img
        class="footer__social"
        src="https://cdn-icons-png.flaticon.com/512/4494/4494465.png"
        alt="icon"
        /><a class="footer__li" href="#">Twitter</a>
        </li>
        <li class="footer__li">
        <img
        class="footer__social"
        src="https://cdn-icons-png.flaticon.com/512/87/87390.png"
        alt="icon"
        /><a class="footer__li" href="#">Instagram</a>
        </li>
        </ul>
      ul.s-cols-1.footer__titulo
        li.footer__li
          img.footer__finalImg(src='assets/img/logo-curacao-egaming.png' alt='icon')
          a.footer__li(href='#')
        li.footer__li
          img.footer__finalImg(src='assets/img/+18.svg' alt='icon')
          a.footer__li(href='#')
    .s-grid-1.row-gap.footer__downFooterContainer
      label
        strong Siguenos también aquí;
      .footer__downFooterSocial
        a(href='#')
          img.downFooter.item1(src='assets/img/facebook.svg' alt='')
        a(href='#')
          img.downFooter.item2(src='assets/img/twitter.svg' alt='')
        a(href='#')
          img.downFooter.item3(src='assets/img/Instagram.svg' alt='')
      label
        | Los juegos y apuestas deportivas a distancia realizados en
        | exceso pueden causar ludopatia
